@import "winduum/src/components/button/props/default.css" layer(theme);
@import "winduum/src/components/button/props/interactive.css" layer(theme);
@import "winduum/src/components/button/default.css" layer(utilities);
@import "winduum/src/components/button/interactive.css" layer(utilities);
@import "winduum/src/components/button/bordered.css" layer(utilities);
@import "winduum/src/components/button/ghosted.css" layer(utilities);
@import "winduum/src/components/button/muted.css" layer(utilities);
@import "winduum/src/components/button/square.css" layer(utilities);
@import "winduum/src/components/button/circle.css" layer(utilities);
@import "winduum/src/components/button/spinner.css" layer(utilities);

@utility lg {
  .x-button:is(&) {
    --x-button-block-size: 3rem;
    --x-button-padding-inline: 1.5rem;
  }
}

@utility sm {
  .x-button:is(&) {
    --x-button-block-size: 2rem;
    --x-button-padding-inline: 1rem;
  }
}
