@import "winduum/src/components/heading/props/default.css" layer(theme);
@import "winduum/src/components/heading/default.css" layer(utilities);

@layer theme {
  :root,
  :host {
    --x-heading-font-size: var(--text-4xl);
    --x-heading-font-weight: var(--font-weight-medium);
    --x-heading-line-height: 1.2;
  }
}

@utility xs {
  .x-heading:is(&) {
    --x-heading-font-size: var(--text-2xl);
  }
}

@utility sm {
  .x-heading:is(&) {
    --x-heading-font-size: var(--text-3xl);
  }
}

@utility lg {
  .x-heading:is(&) {
    --x-heading-font-size: var(--text-5xl);
  }
}

@utility xl {
  .x-heading:is(&) {
    --x-heading-font-size: var(--text-6xl);
  }
}
