@import "winduum/src/components/text/default.css" layer(utilities);

@layer theme {
  :root,
  :host {
    --x-text-font-size: var(--text-base);
    --x-text-line-height: 1.5;
    --x-text-letter-spacing: -0.02em;
    --x-text-content-bold: var(--font-weight-semibold);
    --x-text-content-margin-block: calc(var(--spacing) * 4);
    --x-text-heading-font-weight: var(--font-weight-medium);
    --x-text-heading-line-height: 1.2;
    --x-text-heading-margin-block: calc(var(--spacing) * 6) calc(var(--spacing) * 4);
    --x-text-heading-1-font-size: var(--text-5xl);
    --x-text-heading-2-font-size: var(--text-4xl);
    --x-text-heading-3-font-size: var(--text-3xl);
    --x-text-heading-4-font-size: var(--text-2xl);
    --x-text-heading-5-font-size: var(--text-xl);
    --x-text-heading-6-font-size: var(--text-lg);
    --x-text-list-marker-size: 0.375em;
    --x-text-hr-margin-block: 3em;
    --x-text-blockquote-font-size: var(--text-lg);
    --x-text-blockquote-margin-block: calc(var(--spacing) * 9);
    --x-text-blockquote-border-inline-start-width: 0.125rem;
    --x-text-blockquote-border-inline-start-color: var(--color-main);
    --x-text-figure-margin-block: calc(var(--spacing) * 12);
    --x-text-img-border-radius: var(--radius-2xl);
    --x-text-figcaption-font-weight: var(--font-weight-normal);
    --x-text-figcaption-margin-block-start: 0.5rem;
    --x-text-figcaption-padding-inline-start: 0.5rem;
    --x-text-figcaption-border-inline-start: 0.125rem solid var(--color-accent);
  }
}

@utility lg {
  .x-text:is(&) {
    --x-text-font-size: var(--text-lg);
  }
}

@utility sm {
  .x-text:is(&) {
    --x-text-font-size: var(--text-sm);
  }
}

@utility xs {
  .x-text:is(&) {
    --x-text-font-size: var(--text-xs);
  }
}
