<div class="x-control w-full max-w-80 mx-auto" tabindex="-1" data-controller="x-control-select">
    <select>
        <option value="0">Doporučujeme</option>
        <option value="1">Nejprodávanější</option>
        <option value="2">Od nejlevnějšího</option>
        <option value="3">Od nejdražšího</option>
        <option value="4">Nejnovější</option>
    </select>
    <div aria-hidden="true" class="max-h-80">
        <div data-option="0" tabindex="0" data-active>Doporučujeme</div>
        <div data-option="1" tabindex="0">Nejprodávanější</div>
        <div data-option="2" tabindex="0">Od nejlevnějšího</div>
        <div data-option="3" tabindex="0">Od nejdražšího</div>
        <div data-option="4" tabindex="0">Nejnovější</div>
    </div>
</div>
<div><br></div>
<div class="x-control w-full max-w-80 mx-auto">
    <select>
        <option value="0">Doporučujeme</option>
        <option value="1">Nejprodávanější</option>
        <option value="2">Od nejlevnějšího</option>
        <option value="3">Od nejdražšího</option>
        <option value="4">Nejnovější</option>
    </select>
</div>